<!DOCTYPE html>
<html lang="en">

<head>
    <title>501 Not Implemented</title>
    <style>
        body {
            font-family: monospace;
            text-align: center;
        }

        h3 {
            font-weight: normal;
        }

        span {
            font-weight: bold;
        }

        p {
            line-height: 1.6em;
        }

        em {
            opacity: 0.4;
            font-style: normal;
        }
    </style>
</head>

<body>
    <h3>&lt;error&gt;<span> 501 - Not Implemented </span>&lt;/error&gt;</h3>
    <p>
        <em>&lt;description&gt;</em>
        <br />
        This feature has not yet been implemented.
        <br />
        <em>&lt;/description&gt;</em>
    </p>
</body>

</html>